
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body{
  display: grid;
  height: 81vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #c9e4bac8 0%, #87b5c3 100%);
}
h1{
  color: #6eb2be;
  font-size: 3rem;  
}
.container{
  height: 492px;
  padding: 26px 31px;
  border-radius: 4px;
  background: #ffffffd3;
  max-height: 492px;
  max-width: 492px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.368);
}
.container .option{
  font-size: 24px;
  text-align: center;
}
.container .google a,
.container .microsoft a
{
  padding-top: 5px;
  padding-left: 22px;
  line-height: 46px;
  color: #ffffffe4;
  display: block;
  height: 56px;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
  border-radius: 6px;
  transition: all 0.4s ease;
  text-align: center;
}
.container .google i,
.container .microsoft i{
  padding-right: 11px;
  font-size: 22px;
}
.container .microsoft a{
  background: linear-gradient( to right,  #4f6ba7 0%, #3e75ea 100%);
  margin: 22px 0 52px 0;
}
.container .microsoft a:hover{
  background: linear-gradient( to left,  #547fde 0%, #4173df 100%);
  margin: 22px 0 52px 0;
}
.container .google a{
  margin: 22px 0 17px 0;
  background: linear-gradient(to right,  #c44e44 0%, #d74639 100%);
}
.container .google a:hover{
  margin: 22px 0 17px 0;
  background: linear-gradient(to left,  #e35e52 0%, #9b3e36 100%);
}
